@charset "utf-8";
@import "http://at.alicdn.com/t/font_394520_15cq3cu7j82utyb9.css";
.display-flex {
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
.icon,
[class^="icon-"] {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.color-white {
  color: #fff;
}
.color-baseColor {
  color: #42CE4B;
}
.color-hoverColor {
  color: #33b138;
}
.bg-white {
  background-color: #fff;
}
.bg-red {
  background-color: red;
}
.bg-blueviolet {
  background-color: blueviolet;
}
.bg-gold {
  background-color: gold;
}
.bg-darkorange {
  background-color: darkorange;
}
.tag-bg-1 {
  background-color: red;
}
.tag-bg-2 {
  background-color: blueviolet;
}
.tag-bg-3 {
  background-color: gold;
}
.tag-bg-4 {
  background-color: red;
}
.tag-bg-5 {
  background-color: blueviolet;
}
.tag-bg-6 {
  background-color: red;
}
.tag-bg-7 {
  background-color: gold;
}
.tag-bg-8 {
  background-color: darkorange;
}
.tag-bg-9 {
  background-color: red;
}
.tag-bg-10 {
  background-color: blueviolet;
}
.tag-bg-11 {
  background-color: red;
}
.tag-bg-12 {
  background-color: darkorange;
}
.tag-bg-13 {
  background-color: red;
}
.tag-bg-14 {
  background-color: red;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #33b138;
}
.hide {
  visibility: hidden;
}
header .mui-action-back {
  color: #777;
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.slider-bar {
  height: 4px;
  margin: 50px 30px 20px 30px;
  overflow: visible;
  position: relative;
  background-color: #ddd;
}
.slider-bar .left,
.slider-bar .right {
  width: 30px;
  height: 30px;
  overflow: visible;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #555;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-style: normal;
}
.slider-bar .left span,
.slider-bar .right span {
  font-size: 10px;
  display: inline-block;
  position: relative;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider-bar .left:before,
.slider-bar .right:before {
  content: "";
  display: inline-block;
  width: 80%;
  height: 80%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slider-bar .left:after,
.slider-bar .right:after {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #555;
  position: absolute;
  top: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider-bar .left.active,
.slider-bar .right.active {
  z-index: 9;
}
.slider-bar .left {
  top: 0;
  left: 0;
}
.slider-bar .right {
  top: 0;
  left: 100%;
}
.you-mask.show {
  display: block;
}
.you-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
}
.mui-pull-loading {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.mui-pull-loading.down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.mui-bar.mui-bar-tab {
  -webkit-box-shadow: 0 0 3px 0 #a8a8a8;
  -moz-box-shadow: 0 0 3px 0 #a8a8a8;
  box-shadow: 0 0 3px 0 #a8a8a8;
}
.mui-bar-tab {
  border-top: 0px;
}
.mui-bar-tab:before,
.mui-bar-tab:after {
  display: none;
}
.mui-bar-nav {
  background-color: #42CE4B;
  color: #fff !important;
}
.mui-bar-nav a,
.mui-bar-nav button {
  color: #fff !important;
}
.mui-bar-nav .mui-title {
  color: #fff;
}
.mui-icon-left-nav {
  color: #fff !important;
}
.loading-block {
  padding: 20px 0px;
  text-align: center;
  color: #999;
}
.loading-block i {
  margin-right: 5px;
  display: inline-block;
  -webkit-animation: loadingRotate 1.8s infinite linear;
  -moz-animation: loadingRotate 1.8s infinite linear;
  -o-animation: loadingRotate 1.8s infinite linear;
  animation: loadingRotate 1.8s infinite linear;
  font-size: 18px;
}
.loading-block font {
  font-size: 16px;
}
@-webkit-keyframes loadingRotate {
  0% {
    color: limegreen;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    color: limegreen;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loadingRotate {
  0% {
    color: limegreen;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    color: limegreen;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loadingRotate {
  0% {
    color: limegreen;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    color: limegreen;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadingRotate {
  0% {
    color: limegreen;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    color: limegreen;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.no-data-cue {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  color: rgba(238, 238, 238, 0.8);
}
.no-data-cue i {
  display: block;
  font-size: 30px;
}
.no-data-cue font {
  padding-top: 20px;
  display: block;
  font-size: 20px;
}
.not-data {
  padding: 20px 0;
  text-align: center;
  color: #CCCCCC;
}
.no-data-label {
  padding: 70px 0;
}
.no-data-label i {
  line-height: 100px;
  text-align: center;
  font-size: 100px;
  display: block;
  overflow: hidden;
  color: #ccc;
}
.no-data-label p {
  color: #ccc;
}
.tag-item {
  font-size: 12px;
}
.tag-item i {
  padding: 1px 2px;
  margin-right: 5px;
  font-style: normal;
  color: #fff;
}
.la-square-jelly-box,
.la-square-jelly-box > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-square-jelly-box {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-square-jelly-box.la-dark {
  color: #333;
}
.la-square-jelly-box > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-square-jelly-box {
  width: 32px;
  height: 32px;
}
.la-square-jelly-box > div:nth-child(1),
.la-square-jelly-box > div:nth-child(2) {
  position: absolute;
  left: 0;
  width: 100%;
}
.la-square-jelly-box > div:nth-child(1) {
  top: -25%;
  z-index: 1;
  height: 100%;
  border-radius: 10%;
  -webkit-animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
  -moz-animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
  -o-animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
  animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
}
.la-square-jelly-box > div:nth-child(2) {
  bottom: -9%;
  height: 10%;
  background: #000;
  border-radius: 50%;
  opacity: .2;
  -webkit-animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
  -moz-animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
  -o-animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
  animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
}
.center-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.la-square-jelly-box.la-sm {
  width: 16px;
  height: 16px;
}
.la-square-jelly-box.la-2x {
  width: 64px;
  height: 64px;
}
.la-square-jelly-box.la-3x {
  width: 96px;
  height: 96px;
}
@-webkit-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -webkit-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -webkit-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }
  75% {
    -webkit-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@-moz-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -moz-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -moz-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }
  75% {
    -moz-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@-o-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -o-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -o-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }
  75% {
    -o-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -o-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -webkit-transform: translateY(25%) rotate(22.5deg);
    -moz-transform: translateY(25%) rotate(22.5deg);
    -o-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -webkit-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    -moz-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    -o-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }
  75% {
    -webkit-transform: translateY(25%) rotate(67.5deg);
    -moz-transform: translateY(25%) rotate(67.5deg);
    -o-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    -moz-transform: translateY(0) rotate(90deg);
    -o-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@-webkit-keyframes square-jelly-box-shadow {
  50% {
    -webkit-transform: scale(1.25, 1);
    transform: scale(1.25, 1);
  }
}
@-moz-keyframes square-jelly-box-shadow {
  50% {
    -moz-transform: scale(1.25, 1);
    transform: scale(1.25, 1);
  }
}
@-o-keyframes square-jelly-box-shadow {
  50% {
    -o-transform: scale(1.25, 1);
    transform: scale(1.25, 1);
  }
}
@keyframes square-jelly-box-shadow {
  50% {
    -webkit-transform: scale(1.25, 1);
    -moz-transform: scale(1.25, 1);
    -o-transform: scale(1.25, 1);
    transform: scale(1.25, 1);
  }
}
